
.title-home{
 justify-content: center;
 text-align: center;
 color: #ffffff;
 margin: 5px 3px;
}
.container-personal-info{
    display: flex;
    flex-direction: row;
    border:2px solid #FFF;
    height: 140px;
    border-radius: 2px;
    background-color: #F5F5F6;
    margin-bottom: 6px;
    overflow: auto;
}
.atributos{
    flex:  3;
    align-self: center;
    padding-left: 20px;
    
}
.atributos section{
    margin: 4px 0;
}
.atributos section span{
    flex: 1;
    padding-left: 10px;
}
.foto-perfil{
    padding: 2px;
    align-content: flex-end;
}
.foto-perfil img{
    height: 130px;
    border-radius: 2px;
    border: 3px #004c40 solid;
}
.container-stills{
    height: 100px;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10px;
    flex-direction: column;
}

.item-tech{
    align-self: center;
    flex-shrink: 3;
    margin: 2px 5px 12px;
    height: 80px;
    width: 150px !important;
    border: 1px solid #bdbdbd;
    flex-direction: column;
}