body{
    width: 100%;
    height: 100%;
    color: #0a605d;
    font-family: Roboto ;
}
#root{
    width: 100%;
    height: 100%;
}

.layout{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    background-color: #E1E2E1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    padding: 5px;
    background: url('../assets/image/background.png') no-repeat center center fixed;
    background-size: cover;
    padding-top: 10px;
}
.container{
    padding-top: 5px;
    max-width: 580px;
    padding: 0 10px;
    height:100%;
    background-color: #00796b90;
    overflow: auto;
}